@page "/"
@using Voting.Shared
@using VotingApp.Shared

@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="voting-container">
    <button class="btn btn-dark voting-button" disabled="@_isSubmitting" @onclick="ClickOnDog">Dog</button>
    <button class="btn btn-light voting-button" disabled="@_isSubmitting" @onclick="ClickOnCat">Cat</button>
</div>

@code {
    private bool _isSubmitting;

    private async Task ClickOnDog()
    {
        await SubmitVote(Animal.Dog);
    }

    private async Task ClickOnCat()
    {
        await SubmitVote(Animal.Cat);
    }

    private async Task SubmitVote(Animal animal)
    {
        if (_isSubmitting)
        {
            return;
        }

        try
        {
            _isSubmitting = true;
            StateHasChanged();
            await Http.PostAsJsonAsync("api/vote", new VoteRequest { Animal = animal });
        }
        finally
        {
            _isSubmitting = false;
            StateHasChanged();
        }
    }

}