@page "/"

@code {

    private void ClickOnDog()
    {
        // send a request to redis to increment the dog counter
    }

    private void ClickOnCat()
    {
        // send a request to redis to increment the cat counter
    }

}

<PageTitle>Home</PageTitle>

<div class="voting-container">
    <button class="btn btn-dark voting-button" @onclick="ClickOnDog">Dog</button>
    <button class="btn btn-light voting-button" @onclick="ClickOnCat">Cat</button>
</div>
